[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
numpy = "*"
gspread = "*"
python-decouple = "*"
fastapi = "*"

[dev-packages]
ipykernel = "*"
uvicorn = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
